html, body {
    text-align: center;
    background-color: #b3e5fc;
    font-family: "Teko", sans-serif;
}

header {
    margin-top: 1em;
}

header > h1 {
    font-size: 2.2em;
}

.card {
    display: none;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 1em;
}
  
#quote {
    font-family: "Oswald", sans-serif;
    font-size: 1.2em;
}
  
#author {
    font-style: italic;
    text-align: right;
    padding-right: 5px;
}

.fas {
    font-size: 0.8em;
}

#getQuote {
    background-color: #ffc107;
}

#tweet {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    display: none;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7em;
    opacity: 0.8;
}